/*
font-family: 'Quicksand', sans-serif;
font-family: 'Flamenco', cursive;
font-family: 'Rationale', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Fondamento', cursive;
font-family: 'Stoke', serif;
font-family: 'Arapey', serif;
font-family: 'Press Start 2P', cursive;
*/

* {
	margin: 0;
}

#paaaage {
	background: black;
	width: 1200px;
	margin: 0 auto;
	height: 800px;
}

#viewport {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#osti-gaming {
	font-weight: normal;
	font-family: 'Press Start 2P', cursive ;
	width: 600px;
	height: 300px;
	text-shadow: 2px 2px 12px #000000;

}

#osti-gaming span.osti {
	font-size: 60px;
	color: #FF2121 ;

}

#osti-gaming span.gaming {
	font-size: 40px;
	font-weight: normal;
	color: #FFAA21 ;

}